.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px; 
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .containerHome {
    padding: 80px; 
  }
}

@media screen and (max-width: 767px) {
  .containerHome {
    padding: 20px;
  }

  .openingTitle {
    font-size: 24px;
  }

  .descriptive {
    font-size: 16px;
  }
}

@media screen and (max-height: 800px) {
  .containerHome {
    padding: 20px;
  }

  .openingTitle {
    font-size: 28px;
  }

  .descriptive {
    font-size: 18px;
  }

  .pic {
    max-height: 300px; 
    overflow: hidden;  
    object-fit: cover;
  }

  .describeText,
  .poster,
  .pic {
    margin-block: 10px; 
  }
}
