.imageGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Позволява на контейнерите да се разпределят в редове */
  gap: 10px; /* Разстояние между изображенията */
}

.imageContainer {
  width: 500px;
  max-width: 500px;
  height: 600px;
  background: beige;
  margin: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Медиазапитвания */
@media all and (max-width: 768px) {
  .imageContainer {
    width: 100%;
    max-width: 100%;
    height: 400px; /* Намалена височина за малки екрани */
    margin: 5px 0; /* Намалено разстояние между контейнерите */
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media all and (max-width: 480px) {
  .imageContainer {
    width: 100%;
    max-width: 100%;
    height: 350px; /* Още по-малка височина за още по-малки екрани */
    margin: 5px 0; /* Намалено разстояние между контейнерите */
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
