.petGallery {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.imageContainer {
  position: relative;
  margin: 0 auto;
  max-width: 800px; /* Примерна ширина, може да се промени */
}

.image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 500px; /* Примерна максимална височина, може да се промени */
  object-fit: contain; /* За да се запълни контейнера */
}

.imageDescription {
  margin-top: 8px;
  font-size: 14px;
}

.controls {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.controlButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 4px;
}

.controlButton:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .controlButton {
    font-size: 12px;
    padding: 6px 12px;
  }


}


