.imageGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    padding-bottom: 20px; 
  }
  
  .imageContainer {
    display: flex;               /* Промяна */
    flex-direction: column;      /* Промяна */
    width: 500px;
    max-width: 500px;
    margin: 10px;
    background: beige;
  }
  
  .image {
    width: 100%;
    height: auto;                /* Промяна */
    object-fit: cover;
  }
  
  .description {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  @media all and (max-width: 768px) {
    .imageContainer {
      width: calc(100% - 10px);
      max-width: 100%;
      margin: 5px 0; 
    }
    .image {
      width: 100%;
      height: auto;              /* Промяна */
      object-fit: cover;
    }
  }
  
  @media all and (max-width: 480px) {
    .imageContainer {
      width: calc(100% - 10px);
      max-width: 100%;
      margin: 5px 0; 
    }
    .image {
      width: 100%;
      height: auto;              /* Промяна */
      object-fit: cover;
    }
  }
  
  