.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: justify;
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    padding: 1rem; 
    align-items: center; 
  }

  .footer p {
    margin: 0;
  }
}
