.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerText {
  margin: 0;
}

.footerLink {
  color: white;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: justify;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  .footerText {
    margin: 0;
  }
}
